table, td, th{
    border: .3px solid rgb(253, 252, 252);
    background-color:  #0d1117;
    border-radius: 5px;
    padding: .5rem;
}

*{
    background-color: #010409;
    color: white;
    padding: 0%;
    margin: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}
.mainApp{
   background-color:  #0d1117;
   padding: 2rem;
   border-radius: 10px;
}

input{
    padding-block: 1rem;
    padding-inline: .5rem;
    border: 1px solid white;
    outline: none;
}
button{
    padding-block: 1.1rem;
    padding-inline: .9rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: gray;
}
img{
    border-radius: 100px;
}
.follo{
    width: fit-content;
    background-color:  #0d1117
}